@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 18%; /* #282B30 */
    --foreground: 210 20% 90%; /* #D2D5DA */
    --card: 210 10% 12%; /* #1B1D1F */
    --card-foreground: 210 20% 90%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 20% 90%;
    --primary: 225 75% 55%; /* #3662E3 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 46%; /* #6C727F */
    --secondary-foreground: 210 20% 90%;
    --muted: 220 10% 46%;
    --muted-foreground: 210 10% 70%;
    --accent: 220 10% 18%;
    --accent-foreground: 210 20% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 225 75% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 10% 18%;
    --foreground: 210 20% 98%;
    --card: 210 10% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-select {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0ibTEyIDEzLjE3MWw0Ljk1LTQuOTVsMS40MTQgMS40MTVMMTIgMTZMNS42MzYgOS42MzZMNy4wNSA4LjIyMnoiLz48L3N2Zz4=");
}
